.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-size: 16px;
  line-height: 43px;
  border-radius: 4px;
  padding: 0 30px;
  background-color: $white;
  @include shadow("xs");
  border: 1px solid $purple;
  color: $purple;
  transition: 0.4s ease-out;
  @include shadow("xs");

  img {
    width: 29px;
    height: 29px;
    object-fit: contain;
    object-position: 50% 50%;
    transition: 0.4s ease-out;
    margin-right: 12px;
  }

  &:hover {
    background-color: $purple;
    color: $white;
    text-decoration: none;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &--danger {
    border-color: #f0142f;
    color: #f0142f;

    &:hover {
      border-color: #f0142f;
      background-color: #f0142f;
    }
  }

  &--gray {
    border-color: #8898aa;
    color: #8898aa;

    &:hover {
      border-color: #8898aa;
      background-color: #8898aa;
    }
  }

  &--info {
    border-color: #3688ce;
    color: #3688ce;

    &:hover {
      border-color: #3688ce;
      background-color: #3688ce;
    }
  }

  &--light {
    border-color: #d7dbec;
    color: #999;

    &:hover {
      border-color: $purple;
    }
  }

  @media (max-width: 767px) {
    line-height: 38px;
    padding: 0 24px;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;

  .button {
    margin: 8px;
  }
}
