.menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 300px;
  padding: 24px 24px 24px 0;
  position: absolute;
  top: 100%;
  left: 0;

  &-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    align-items: center;
    padding: 18px 24px;
    color: #171725;
    border-radius: 0 4px 4px 0;

    img {
      width: 29px;
      height: 29px;
      object-fit: contain;
      object-position: 50% 50%;
      margin-right: 24px;
    }

    &:hover,
    &.active {
      color: #171725;
      text-decoration: none;
      background-color: rgba(#0062ff, 0.05);
      box-shadow: inset 3px 0 $blue;
      color: #0062ff;

      img {
        filter: invert(23%) sepia(68%) saturate(7497%) hue-rotate(219deg)
          brightness(105%) contrast(104%);
      }
    }
  }

  &-number {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    background-color: $red;
    color: $white;
    text-align: center;
    margin-left: auto;
  }

  @media (max-width: 1399px) {
    width: 270px;
    padding: 20px 20px 20px 0;

    &-link {
      padding: 12px 20px;

      img {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    padding: 0;
    position: static;

    &-number {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      padding: 0 4px;
      min-width: 20px;
      text-align: center;
    }
  }
}
