.calendar-type {
  @include shadow("xs");
  border-radius: 4px;
  background-color: $white;

  .btn.active {
    background-color: #0058ff;
    color: $white;
  }
}

.m-datepicker {
  display: inline-flex;
  align-items: center;
  height: 35px;
  background-color: $white;
  padding: 0 15px;
  border-radius: 4px;
  @include shadow("xs");
  font-size: 16px;
  color: #5a607f;
  margin: 0;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    color: #5a607f;
    text-decoration: none;
  }

  img {
    margin-right: 12px;
  }

  input {
    width: 200px;
    padding: 0;
    border: 0;
  }

  @media (max-width: 991px) {
    font-size: 14px;
  }
}

.widgets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;

  &__item {
    background-color: $white;
    border-radius: 4px;
    @include shadow("xs");
    position: relative;
    z-index: 1;
    padding: 24px;
  }

  &__img {
    max-width: 60%;
    object-fit: contain;
    object-position: 100% 100%;
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: -1;
  }

  &__title {
    font-size: 20px;
    color: #7e84a3;
  }

  &__number {
    font-size: 33px;
    padding-left: 24px;
    margin-top: 24px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
  }

  @media (max-width: 1399px) {
    margin-bottom: 20px;

    &__item {
      padding: 20px;
    }

    &__img {
      right: 20px;
      bottom: 20px;
    }

    &__title {
      font-size: 16px;
    }

    &__number {
      font-size: 30px;
      padding-left: 20px;
      margin-top: 8px;
    }

    &__info {
      font-size: 14px;
      margin-top: 4px;
    }
  }

  @media (max-width: 767px) {
    &__item {
      display: flex;
      flex-direction: column;
      padding: 16px;
    }

    &__number {
      font-size: 24px;
    }

    &__info {
      font-size: 12px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    &__img {
      display: block;
      position: static;
      width: calc(100% + 32px);
      max-width: calc(100% + 32px);
      margin: auto -16px -16px;
      bottom: 0;
    }
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr 1fr;
  }
}

.m-user {
  display: flex;
  align-items: center;
  color: $text-color;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &__avatar {
    @include frame("circle");
    width: 60px;
    margin-right: 12px;
  }

  &__name {
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__dot {
    display: none;
  }

  @media (max-width: 1399px) {
    &__avatar {
      width: 40px;
      margin-right: 8px;
    }

    &__name {
      font-size: 13px;
    }
  }

  @media (max-width: 767px) {
    position: relative;

    &__dot {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 575px) {
    &__avatar {
      width: 30px;
      margin-right: 6px;
    }

    &__name {
      font-size: 10px;
    }
  }
}

.m-progress {
  display: flex;
  align-items: center;

  &__number {
    width: 90px;
    font-size: 15px;
    color: $text-color;
  }

  &__line {
    display: flex;
    width: 135px;
    height: 3px;
    background-color: #b7c1cc;
  }

  &__inner {
    background-color: #38affb;
  }

  @media (max-width: 1699px) {
    &__number {
      width: 50px;
    }

    &__line {
      width: 80px;
    }
  }

  @media (max-width: 1399px) {
    &__number {
      font-size: 13px;
      width: 40px;
    }
  }
}

.m-state {
  display: flex;
  align-items: center;

  &__dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $primary;
    color: $text-color;
  }

  &__text {
    margin-left: 10px;
  }

  @media (max-width: 1199px) {
    justify-content: center;

    &__text {
      display: none;
    }
  }
}

.m-table {
  thead {
    background-color: $light;

    th {
      color: #8898aa;
      font-size: 13px;
      font-weight: 400;
      padding: 14px 30px;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $light;
      }

      &:hover {
        background-color: rgba($primary, 0.1);
      }
    }

    td {
      padding: 15px 30px;
    }
  }

  &__link {
    word-break: break-all;
  }

  @media (max-width: 1599px) {
    thead th,
    tbody td {
      padding: 15px;

      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }

    thead th {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  @media (max-width: 1399px) {
    font-size: 13px;

    thead th,
    tbody td {
      padding: 8px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }

    thead th {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  @media (max-width: 767px) {
    thead th,
    tbody td {
      padding: 6px 4px;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        display: none;
      }

      &:first-child {
        padding-left: 16px;
      }

      &:last-child {
        padding-right: 8px;
      }
    }

    tr {
      position: relative;
    }
  }

  @media (max-width: 575px) {
    font-size: 10px;

    thead {
      th {
        font-size: 11px;
      }
    }
  }
}

.m-sort {
  display: flex;
  align-items: center;
  color: #8898aa;
  position: relative;
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;

  &__check-1,
  &__check-2 {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &__check-2 {
    z-index: 1;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    img {
      height: 7px;
    }
  }

  &__check-1:checked ~ &__check-2 {
    z-index: 3;
  }

  &__check-1:checked ~ &__icon--down {
    img {
      filter: brightness(0);
    }
  }

  &__check-2:checked ~ &__icon--up {
    img {
      filter: brightness(0);
    }
  }

  &__check-2:checked ~ &__icon--down {
    img {
      filter: brightness(1);
    }
  }

  @media (max-width: 767px) {
    &__icons {
      display: none;
    }
  }
}

.m-table-2 {
  max-height: 400px;
  overflow: auto;

  @media (min-width: 1200px) {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #999;
    }
  }

  thead {
    background-color: $light;

    th {
      font-size: 13px;
      font-weight: 400;
      padding: 12px 30px;
    }
  }

  tbody {
    td {
      padding: 12px 30px;
      font-size: 13px;
    }
  }

  tr {
    &:hover {
      background-color: rgba($primary, 0.1);
    }
  }

  @media (max-width: 767px) {
    width: calc(100% + 32px);
    margin: 0 -16px -16px;

    thead th,
    tbody td {
      padding: 4px 6px;
      vertical-align: middle;

      &:first-child {
        padding: 16px;
      }

      &:last-child {
        padding: 16px;
      }
    }
  }

  @media (max-width: 575px) {
    thead th,
    tbody td {
      font-size: 11px;
    }
  }
}

.keywords {
  &__body {
    border: 1px solid $border-color;
  }

  &__item {
    font-size: 20px;
    padding: 15px 24px;

    &:nth-child(even) {
      background-color: $light;
    }
  }

  &__input {
    height: 60px;
    padding: 0 24px;
    font-size: 20px;
    border-radius: 0;
    border: 0;

    &::placeholder {
      color: #cfd1de;
    }

    &:nth-child(even) {
      border-top: 1px solid $border-color;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  &__btn {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: 0;
    border: 0;

    img {
      transition: 0.4s;
    }

    &:hover {
      img {
        filter: invert(23%) sepia(68%) saturate(7497%) hue-rotate(219deg) brightness(105%) contrast(104%);
      }
    }
  }

  @media (max-width: 767px) {
    &__item {
      padding: 8px 16px;
      font-size: 16px;
    }

    &__input {
      height: 40px;
      font-size: 16px;
      padding: 0 16px;
    }

    &__footer {
      margin-top: 8px;
    }
  }
}

.avatar-input {
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;

  &__frame {
    @include frame("circle");
    width: 75px;
    margin-right: 24px;
  }

  &__text {
    font-size: 16px;
    color: #7764e4;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
}
